
.background_image {
  display: flex;
  justify-content: center;
  background-image: url("../assets/Background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  margin: auto;
  position: relative;
}

.perfil {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-55%, -50%);
}