
.background_image {
  display: flex;
  justify-content: center;
  background-image: image-set(
    url("../assets/Background1.png") 1x,
    url("../assets/Background4.png") 2x,);
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  margin: auto;
  position: relative;
}

.perfil {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-55%, -50%);
  width: 50%
}